<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./components/webHead.ejs') %>
</head>


<body class="bg-black bg-opacity-80">
  <%- include("./components/snowEffect.ejs")  %>
  <div class="flex  container mx-auto justify-center items-center">
    <img src="/images/logo.png" width="150">
    <img src="https://user-images.githubusercontent.com/709451/182802334-d9c42afe-f35d-4a7b-86ea-9985f73f20c3.png" width="150">
  </div>
  <div class="flex flex-col gap-2 justify-center items-center mt-6">
    <h1 class="text-3xl text-white uppercase font-bold  px-3 py-2 rounded-md">
      @vigilio/express
    </h1>
    <span class="text-2xl uppercase font-bold text-yellow-400 col-span-2 mb-3">OUT NOW!!!
    </span>
  </div>
  <counter class="flex justify-center items-center my-4 gap-3"></counter>
  <div class="flex px-3 justify-center gap-8 items-center flex-wrap max-w-4xl mx-auto">
    <div class="bg-blue-400 bg-opacity-80 flex-1 min-w-[250px] max-w-[300px] py-6 rounded-md">
      <span class="text-white font-bold uppercase text-3xl text-center block">Controllers</span>
    </div>
    <div class="bg-yellow-500 text-white bg-opacity-80 flex-1 min-w-[250px] max-w-[300px] py-6 rounded-md">
      <span class="text-white font-bold uppercase text-3xl text-center block">Services</span>
    </div>
    <div class="bg-green-400 bg-opacity-80 flex-1 min-w-[250px] max-w-[300px] py-6 rounded-md">
      <span class="text-white font-bold uppercase text-3xl text-center block">Routers</span>
    </div>
    <div class="bg-red-600 bg-opacity-80 flex-1 min-w-[250px] max-w-[300px] py-6 rounded-md">
      <span class="text-white font-bold uppercase text-3xl text-center block">Entities</span>
    </div>
    <div class="bg-blue-400 bg-opacity-80 flex-1 min-w-[250px] max-w-[300px] py-6 rounded-md">
      <span class="text-white font-bold uppercase text-3xl text-center block">Seeders</span>
    </div>
    <div class="bg-orange-600 bg-opacity-80 flex-1 min-w-[250px] max-w-[300px] py-6 rounded-md">
      <span class="text-white font-bold uppercase text-3xl text-center block">CLI</span>
    </div>
  </div>
  <form-example></form-example>
</body>

</html>